flight-booking/.env

flight-booking/node_modules
flight-booking/combined.log

flight-service/.env

flight-service/node_modules
flight-service/combined.log

gateway/.env

gateway/node_modules
gateway/combined.log

.env
node_modules